@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Frijole&display=swap");

/* START complete container */
.modalContainer {
  width: 80%;
  left: 10%;
  height: 75vh;
  background-color: white;
  position: fixed;
  text-align: center;
  background: rgb(145, 168, 168);
  border-radius: 1%;
  background: linear-gradient(
    0deg,
    rgba(145, 168, 168, 1) 45%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 1em;
  right: 1em;
  color: black;
}

/* End complete  container */

/* Start container mit Inhalt */
.ModalContent {
  height: 63vh;
  width: 90%;
  /*   border: 1px solid black; */
  margin-left: 5em;
  background-color: rgba(243, 237, 237, 0.883);
  display: grid;
  grid-template-columns: 0.65fr 1fr 1fr;
}
/* End container mit Inhalt */

/* start linkes drittel des containers */
.picContainer {
  padding-top: 4rem;
  font-size: 4rem;
}

.modal_img {
  width: 70%;
}

.picContainer .id {
  font-family: "Anton", sans-serif;
}
.picContainer .pokeName {
  font-family: "Frijole", cursive;
  font-size: 3rem;
}
/* ende linkes drittel des containers */

/* start mittleres drittel des containers */

.Biography {
  text-align: left;
  font-size: 2rem;
  font-family: "Anton", sans-serif;
  position: relative;
  left: 1.5rem;
  top: 1.5rem;
}

.bio_data {
  padding-top: 0.5rem;
  font-size: 1.15rem;
  text-align: left;
}

.bio_Text {
  text-align: left;
}

.bio_data_container {
  padding-top: 0.5rem;
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 6rem;
}

.test {
  text-align: justify;
}

/* start training bereich Mitte */
.training_container {
  padding-top: 1.5rem;
}
.training_data {
  padding-top: 1rem;
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 6rem;
}
/* ende training bereich Mitte */

/* ENde mittleres drittel des containers */

/* Start   */

.rightPart {
  text-align: left;
  font-size: 2rem;
  padding-left: 2rem;
  font-family: "Anton", sans-serif;
  position: relative;
  top: 1.5rem;
}

.evo_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  text-align: center;
}

.evo_images {
  font-size: 1.5rem;
}
/* .evo_images .evo_id {
  padding-left: 25%;
} */

/* .evo_images .evo_name {
  padding-left: 20%;
} */

.evo_images .evoo {
  font-size: 1.5rem;
  position: relative;
  border: 0.25rem black solid;
  width: 80%;
  background-color: white;
  border-radius: 50%;
}

/* Start Base Stats */

.base_stats_container {
  position: relative;
  top: 12.1%;
}

.base_stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.25rem;

  padding-top: 1rem;
}

.base_stats .stat_container {
  padding-right: 5rem;
}

/* End Base Stats */
