@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Russo+One&display=swap");

.Pokemon-Container {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.SinglePokeContainer {
  text-align: center;
  background-color: aqua;
  margin: 0.75rem;
  border-radius: 5%;
}

.SinglePokeContainer p {
  font-size: 3rem;
  text-transform: capitalize;
  padding-top: 5%;
  font-family: "Russo One", sans-serif;
}

.SinglePokeContainer img {
  height: 50%;
}
